body{
margin: 0%;
padding: 0%;
}
.order-page {
    font-family: 'Arial', sans-serif;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.header-item {
    flex: 1;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
}
  
.header-item.active {
    border-bottom: 2px solid #8B5E34;
}
  
.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.item-image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 20px;
}
  
.item-details {
    flex: 1;
}
  
.item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-note {
    font-size: 14px;
    color: #777;
}

.item-milk-type {
    font-size: 12px;
    color: #777;
}

.item-counter {
    display: flex;
    align-items: center;
}
  
.item-counter button {
    background-color: #F7F7F7;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    color: #8B5E34;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.item-counter span {
    margin: 0 10px;
    font-size: 18px;
}
  
.place-order {
    position: fixed;
    bottom: 12%;
    background-color: #8B5E34;
    color: #FFF;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    width: 97%;
    margin-top: 20px;
    cursor: pointer;
}
  
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
  
.footer-icon {
    width: 30px;
    height: 30px;
    background-color: #F7F7F7;
    border-radius: 50%;
    cursor: pointer;
}
  
 
  